.email {
    margin-top: 470px; /* Adjust as needed */
    left: 50%; /* Move to the middle of the parent */
    transform: translateX(-50%); /* Translate back by 50% of its own width */

    font-size: 15px;

    background-color: #d3cfe3; /* Background color (white with some transparency) */
    border-radius: 15px; /* Rounded corners */
    padding: 5px; /* Space around the text */
    display: inline-block; /* Fit the rectangle to the content */

    /* Add border styles */
    border: 5px solid #d3cfe3; /* Change this value to set your desired border color */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow for depth */
    position: absolute;
}

.envelope {
    position: absolute; /* Set button to absolute */
    max-width: 150px; /* Set a max width */
    height: auto; /* Maintain aspect ratio */
    left: 50%; /* Move to the middle of the parent */
    transform: translateX(-50%); /* Translate back by 50% of its own width */
    margin-top: 330px; /* Space above the image */
    border-radius: 10%; /* Optional: add rounded corners */
    border: 5px solid #9d97ad; /* Change color and thickness of the border */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.envelope:hover {
    border: 5px solid #bebad1; /* Change border color on hover */
    animation: increaseEnvelopeSize 0.1s ease-in-out forwards;
    transform: translateX(-50%) scale(1.1); /* Combine translateX and scale */
}

@keyframes increaseEnvelopeSize {
    0% {
        transform: translateX(-50%) scale(1); /* Start at original size */
    }
    100% {
        transform: translateX(-50%) scale(1.1); /* Increase size to 110% while centered */
    }
}